<div class="customer-service">
	<div class="support clearfix">
		<div class="media pull-left">
			<div class="box-icon">
              	<i class="fa fa-truck"></i> 
          	</div>
			<div class="media-body">
				<h4>Free Shipping</h4>
				<p><em>on order over $100.00</em></p>
			</div>
		</div>
		<div class="media pull-left">
			<div class="box-icon">
              	<i class="fa fa-repeat"></i>
          	</div>
			<div class="media-body">
				<h4>Free Return</h4>
				<p><em>free 90 days return policy</em></p>
			</div>
		</div>
		<div class="media pull-left">
			<div class="box-icon">
              	<i class="fa fa-money"></i>
          	</div>
			<div class="media-body">
				<h4>Member discount</h4>
				<p><em>free register</em></p>
			</div>
		</div>
	</div>
</div>