{% if settings.theme_wishlist_enable %}
<div class="block-wishlist pull-right">
  <a id="wishlist-total" title="{{ 'general.wishlist.title' | t }}" href="/pages/wish-list"><i class="fa fa-heart-o"></i><span> {{ 'general.wishlist.title' | t }}</span></a>
</div>
{% endif %}