<section class="fourContainer">
  	<div class="container">
      	<div class="left_column">
          <div class="card_icon">
            <img src="../assetsimage-center.pngicon1.svg" alt="">
            <div class="card_icon_content">
              <p class="title_content">All-Day Activity</p>
              <p class="text_content">In life you have to take the trash out, if you
                have trash in your life</p>
            </div>
          </div>

          <div class="card_icon">
            <img src="../assetsimage-center.pngicon1.svg" alt="">
            <div class="card_icon_content">
              <p class="title_content">All-Day Activity</p>
              <p class="text_content">In life you have to take the trash out, if you
                have trash in your life</p>
            </div>
          </div>

          <div class="card_icon">
            <img src="../assetsimage-center.pngicon1.svg" alt="">
            <div class="card_icon_content">
              <p class="title_content">All-Day Activity</p>
              <p class="text_content">In life you have to take the trash out, if you
                have trash in your life</p>
            </div>
          </div>
        </div>
        <img src="../assetsimage-center.pngimage-center.png" alt="" class="card_img_center">
        <div class="rigth_column">
          <div class="card_icon">
            <img src="../assetsimage-center.pngicon1.svg" alt="">
            <div class="card_icon_content">
              <p class="title_content">All-Day Activity</p>
              <p class="text_content">In life you have to take the trash out, if you
                have trash in your life</p>
            </div>
          </div>

          <div class="card_icon">
            <img src="../assetsimage-center.pngicon1.svg" alt="">
            <div class="card_icon_content">
              <p class="title_content">All-Day Activity</p>
              <p class="text_content">In life you have to take the trash out, if you
                have trash in your life</p>
            </div>
          </div>

          <div class="card_icon">
            <img src="../assetsimage-center.pngicon1.svg" alt="">
            <div class="card_icon_content">
              <p class="title_content">All-Day Activity</p>
              <p class="text_content">In life you have to take the trash out, if you
                have trash in your life</p>
            </div>
          </div>
        </div>
  	</div>
</section>