<section class="threeContainer">
  	<div class="container">
      	<div class="row">
          	<div class="col-xs-12 col-sm-12">
              	<div class="boxApollo">
                  	<h3 class="apolloHeading">{{ settings.page3_title }}</h3>
                  	<div class="apolloDescription">{{ pages[settings.page3_page].content }}</div>
              	</div>
          	</div>
      	</div>
  	</div>
</section>