<section class="fiveContainer">
  	<div class="container">
        <div class="boxApollo">
            <h3 class="text_head_1">{{ settings.page2_title }}</h3>
            <img class="section_icon_x" src="/cdn/shop/t/6/assets/image-center.pngiconx.svg" alt="">
           
        </div>

        <div class="image_with_tag_container">
            <div class="image_tag tag1">
              <p>All-Day Activity</p>
              <img src="/cdn/shop/t/6/assets/image-center.pnglinetag.svg" alt="">
            </div>
            <img src="/cdn/shop/t/6/assets/image-center.pngimagecenter2.png" alt="">
            <div class="image_tag tag2">
                <p>All-Day Activity</p>
                <img src="/cdn/shop/t/6/assets/image-center.pnglinetag.svg" alt="">
              </div>

              <div class="image_tag tag3">
                <p>All-Day Activity</p>
                <img src="/cdn/shop/t/6/assets/image-center.pnglinetag.svg" alt="">
              </div>
        </div>
  	</div>
</section>