<section class="tenContainer">
  	<div class="container">
        <div class="content_wrapper_1">
            <div class="logo-yoga"><img src="../assetsimage-center.pnglogo-color-1.svg" alt=""></div>
            <div class="socials">
                <a href="">
                    <img src="../assetsimage-center.pngface.svg" alt="">
                    
                </a>
                <a href="">
                    <img src="../assetsimage-center.pngtt.svg" alt="">
                  
                </a>
                <a href="">
                    <img src="../assetsimage-center.pnginsta.svg" alt="">
                </a>
            </div>
            <div class="rights"><p>
                Todos os direitos reservados Elixir Yoga
            </p>
            <a href="" class="development">
                <img src="../assetsimage-center.pngdevelopment.png" alt="">
            </a>
        </div>
        </div>
        
  	</div>
</section>