{% unless product_in_tab %}
	{% assign product_in_tab = 12 %}
{% endunless %}
<div class="product_list_owl">
    <div class="owl-carousel slide">
        {% assign grid_item_width = ' ' %}
        {% assign products = collection_produclists %}
        {% if columns_product == 1 %}
            {% for product in products limit:product_in_tab %}
                {% assign modpage = forloop.index | modulo:item_in_page %}
                {% if item_in_page == 1 %}
                    <div class="item">
                {% endif %}
                {% if modpage == 1 %}
                    <div class="item">
                {% endif %}
                    {% include 'product-grid-item' %}
                {% if modpage == 0 or forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for product in products limit:product_in_tab %}
                <div class="item">
                    {% include 'product-grid-item' %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>