@media (max-width: 1205px) {
	.proVariants > div {
		margin-bottom: 2rem;
	}
}
@media (max-width: 1024px) {
	.proVariants > div {
		margin-bottom: 2rem;
	}
	.twoContainer .container .row {
		flex-direction: column;
		justify-content: center;
		align-items: start;
	}
	.sectionTwo .container .row {
		justify-content: center;
		align-items: center;
	}
	.fourContainer .container {
		flex-direction: column;
	}
	.image_tag {
		position: absolute;
		left: 50% !important;
		transform: translate(-50%) !important;
		top: 0 !important;
	}
	.image_tag img {
		display: none;
	}
	.tag2 {
		top: 40% !important;
	}
	.tag3 {
		top: 80% !important;
	}
}
